/* Responsive Design For Mobile */
@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    /* For Header */
    header {
        padding: 100px 25px;
    }

    #menu-open-button-mobile, #menu-close-button-mobile {
        display: inline;
    }

    nav#navbar {
        padding: 30px 20px;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(200, 200, 200, 0.85);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        align-items: center;
        justify-content: center;
        /* display: none; */
        transform: translateX(-100%);
        transition: transform 500ms;
    }

    ul#nav-button-list {
        width: 100%;
        flex-direction: column;
    }

    ul#nav-button-list li {
        display: block;
        margin: 25px;
    }

    a.nav-button {
        font-size: 2rem;
    }

    div#first-see {
        transform: translateY(-50px);
    }

    h3#greeting {
        font-size: 1.4rem;
        font-family: 'Roboto Mono', monospace;
        font-style: italic;
    }
    
    h1.brand {
        font-size: 5rem;
    }

    h2#job-title {
        text-align: left;
        font-size: 2.5rem;
    }

    div#social-media-icons-on-header a {
        margin-top: 20px;
    }
    
    div#social-media-icons-on-header>a>div.bi {
        font-size: 3rem;
    }
    
    div#social-media-icons-on-header a span {
        display: none;
    }

    /* For About Me */

    section#about-me {
        padding: 50px 0;
    }

    h1#about-me-title {
        font-size: 5rem;
    }

    div#about-me-content {
        max-width: 350px;
        margin-top: 50px;
        flex-direction: column;
    }
    
    img#about-me-picture {
        width: 350px;
    }
    
    div#about-me-text {
        width: fit-content;
        height: 100%;
    }
    
    div#about-me-text>p {
        padding: 0;
        margin-top: 5px;
    }
    
    div#abilities {
        padding-left: 0;
        padding-top: 7.5px;
        margin-top: 7.5px;
        width: 350px;
        border-left: none;
        border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    div#tools {
        margin-top: 10px;
    }

    /* Projects */
    section#projects {
        padding: 0 7px;
    }
    
    .project {
        position: relative;
        height: fit-content;
        flex-direction: column;
        padding: 0;
        padding-top: 30px;
        margin: 0 0 25px 0;
    }

    .project-thumbnail {
        height: 100%;
        max-width: 350px;
        border-radius: 5px 5px 0 0;
    }
    
    .project-card {
        height: fit-content;
        width: 100%;
        text-align: right;
    }
    
    .project-title {
        position: absolute;
        top: 0px; right: 0;
    }
    
    .project-details {
        width: 350px;
        border-radius: 0 0 5px 5px;
        padding: 25px 25px 25px 25px;
        margin: 0;
        transform: translateX(0);
    }

    .project-technologies>li {
        padding: 0 0 0 15px;
    }

    .project-links {
        margin-top: 5px;
    }
    
    .project-links>li, .project-links>li>a, .project-links>li>a>div {
        color: #749FCD;
        display: inline;
        text-decoration: none;
    }
    
    .project-links>li {
        padding: 0 0 0 15px;
    }
    
    .project:nth-of-type(2) {
        flex-direction: column;
    }

    .project:nth-of-type(2) .project-card {
        text-align: right;
    }

    .project:nth-of-type(2) .project-details {
        padding: 25px 25px 25px 25px;
        transform: translateX(0px);
    }
    
    .project:nth-of-type(2) .project-technologies>li {
        padding: 0 0 0 15px;
    }
    
    .project:nth-of-type(2) .project-links>li {
        padding: 0 0 0 15px;
    }

    /* What's Next Section */

    section#whats-next {
        padding-top: 25px;
    }
    
    #whats-next-card {
        padding: 35px 30px;
        max-width: 400px;
    }
    
    ul#whats-next-buttons {
        flex-direction: column;
        margin-top: 25px;
    }
    
    ul#whats-next-buttons>li {
        width: 100%;
        margin: 5px 0;
        display: block;
    }
    
    .whats-next-button {
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        display: block;
        text-decoration: none;
        padding: 15px 20px;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid #ababab;
        box-shadow: 2px 2px 5px #353535;
        transition: box-shadow 500ms;
    }
    
    ul#whats-next-buttons>li:hover {
        transform: translateY(-10px);
    }
    
    ul#whats-next-buttons>li:hover a {
        box-shadow: 0px 0px 10px #dedede;
    }
    
    ul#whats-next-buttons>li>#send-email {
        background:linear-gradient(135deg, rgba(242, 213, 15, 0.75) 0%,rgba(218, 6, 65, 1) 100%);
    }
    
    ul#whats-next-buttons>li>#visit-fiverr {
        background:linear-gradient(135deg, rgba(176, 48, 117, 0.75) 0%,rgba(68, 22, 186, 1) 100%);
    }
}
