/* Header Section */

header {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    z-index: 0;
    overflow: hidden;
}

header img.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Z-indexs for parallax effect */
header img#background {
    z-index: 0;
}
header img#clouds {
    z-index: 1;
}
header img#back-mountains {
    z-index: 2;
}
header img#middle-mountains {
    z-index: 3;
}
header img#front-mountains {
    z-index: 5;
}
header img#trees {
    z-index: 7;
}

/* Navbar and buttons on it */
nav#navbar {
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9;
}

ul#nav-button-list li {
    list-style: none;
    margin-left: 20px;
}

a.nav-button {
    font-family: 'Marhey', cursive;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px 1px 20px;
    color: #ffffff;
    border-radius: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.nav-button:hover, a.nav-button.active {
    background-color: #ffffff;
    color: #ACA8B6;
    text-shadow: none;
    transition: background-color 250ms;
}

/* First See*/
div#first-see {
    z-index: 4;
    color: #ffffff;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    position: relative;
}

div#texts {
    text-align: left;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}

h3#greeting {
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}

h1.brand {
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
    line-height: 4.6rem;
}

h2#job-title {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    margin-top: 25px;
    text-align: center;
}

div#social-media-icons-on-header {
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}

div#social-media-icons-on-header a {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
}

div#social-media-icons-on-header>a>div.bi {
    width: 65px;
    height: 65px;
    color: white;
    font-size: 2rem;
    padding: 5px;
    display: inline-block;
    text-align: center;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: transform 500ms;
}

div#social-media-icons-on-header>a:hover>div.bi {
    transform: rotate(5deg);
}

div#social-media-icons-on-header div.back-card {
    position: absolute;
    top: -7px; left: 6px;
    width: 65px;
    height: 65px;
    content: ' ';
    transform: rotate(-3deg);
    border-radius: 10px;
    z-index: -1;
    transition: transform, top, left, 500ms;
}

div#social-media-icons-on-header>a:hover div.back-card {
    top: -17px; left: 15px;
    transform: rotate(-5deg);
}

div#social-media-icons-on-header a#instagram div.back-card {
    background-color: rgb(255, 0, 25);
}
div#social-media-icons-on-header a#whatsapp div.back-card {
    background-color: rgb(0, 180, 0);
}
div#social-media-icons-on-header a#email div.back-card {
    background-color: rgb(228, 137, 0);
}

div#social-media-icons-on-header a span {
    position: relative;
    color: #000000;
    font-size: 1.05rem;
    border-radius: 0 25px 25px 0;
    padding: 5px 20px;
    background-color: #ffffff;
    z-index: -2;
}

main {
    width: 100%;
    background-color: #050209;
}

/* About Me Section */

section#about-me {
    position: relative;
    background: linear-gradient(180deg, #090715 0%, #0d0a1f 50%, #050209 100%);
    width: 100%;
    height: fit-content;
    padding: 50px 100px;
    overflow-x: hidden;
}

div#about-me-content {
    width: 1080px;
    margin-top: 75px;
}

img#about-me-picture {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(85, 85, 85, 0.25);
}

div#about-me-text {
    width: 50%;
    height: 100%;
}

div#about-me-text>p {
    position: relative;
    padding: 0 25px 0 30px;
    color: #c5d8ec;
    text-align: left;
}

div#abilities {
    padding-left: 20px;
    width: 350px;
    height: 100%;
    border-left: 1px solid rgba( 255, 255, 255, 0.18 );
}

h2.abilities-title {
    font-size: 1.2rem;
    font-weight: 700;
    background: #184e68;    
    background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.ability-list {
    padding-left: 10px;
    list-style: none;
    flex-wrap: wrap;
}

ul.ability-list>li {
    padding: 15px 20px;
    margin: 0 15px 10px 0;
    color: #f0dede;
    background:linear-gradient(135deg, #411057 0%,#f45508 100%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9rem;
}

div#tools {
    margin-top: 20px;
}

/* Projects Section */
section#projects {
    width: 100%;
    height: fit-content;
    padding: 50px 100px;
}

.project {
    height: 350px;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
}

.project-thumbnail, .project-thumbnail>img {
    height: 100%;
    max-height: 300px;
    max-width: 600px;
}

.project-card {
    height: 100%;
    width: 50%;
    text-align: right;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ABBDD1;
}

.project-details {
    text-align: justify;
    color: #ececec;
    width: calc(100% + 75px);
    background: rgba(0, 16, 57, 0.75);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 5px;
    padding: 30px 40px 30px 30px;
    margin: 25px 0 5px 0;
    transform: translateX(-75px);
}

.project-technologies {
    color: #ececec;
    list-style: none;
}

.project-technologies>li {
    display: inline;
    padding: 0 0 0 25px;
}

.project-links {
    list-style: none;
    margin-top: 10px;
}

.project-links>li, .project-links>li>a, .project-links>li>a>div {
    color: #749FCD;
    display: inline;
    text-decoration: none;
}

.project-links>li {
    padding: 0 0 0 25px;
}

.project:nth-of-type(2) {
    flex-direction: row-reverse;
}

.project:nth-of-type(2) .project-card {
    text-align: left;
}

.project:nth-of-type(2) .project-details {
    padding: 30px 30px 30px 40px;
    transform: translateX(0px);
}

.project:nth-of-type(2) .project-technologies>li {
    padding: 0 25px 0 0;
}


.project:nth-of-type(2) .project-links>li {
    padding: 0 25px 0 0;
}

/* What's Next Section */

section#whats-next {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-image: url(static/img/whatsNext/background.svg);
    background-size: cover;
    justify-content: flex-start;
}

#whats-next-card {
    padding: 50px 40px;
    width: fit-content;
    max-width: 750px;
    text-align: justify;
    color: #ffffff;
    margin-top: 50px;
    background: rgba(0, 16, 57, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid #ababab;
    box-shadow: 2px 2px 5px rgba( 255, 255, 255, 0.18 );
}

ul#whats-next-buttons {
    margin-top: 50px;
    list-style: none;
}

ul#whats-next-buttons>li {
    margin: 10px;
    display: inline;
    transition: transform 500ms;
}

.whats-next-button {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px 25px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ababab;
    box-shadow: 2px 2px 5px #353535;
    transition: box-shadow 500ms;
}

ul#whats-next-buttons>li:hover {
    transform: translateY(-10px);
}

ul#whats-next-buttons>li:hover a {
    box-shadow: 0px 0px 10px #dedede;
}

ul#whats-next-buttons>li>#send-email {
    background:linear-gradient(135deg, rgba(242, 213, 15, 0.75) 0%,rgba(218, 6, 65, 1) 100%);
}

ul#whats-next-buttons>li>#visit-fiverr {
    background:linear-gradient(135deg, rgba(176, 48, 117, 0.75) 0%,rgba(68, 22, 186, 1) 100%);
}

/* Footer */
footer {
    height: 79px;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: -79px;
}

footer * {
    color: #ececec;
    font-size: 0.75rem;
}

span#freepik-image-attributions {
    margin-top: auto;
}

span#freepik-image-attributions a {
    display: block;
}

span#freepik-image-attributions a:not(:first-child) {
    margin-top: 5px;
}

span#license {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba( 255, 255, 255, 0.18 );
}